// Primary colors
$Lime-Green: #1db489;
$Bright-Red: #dc414c;
$Facebook: #198ff5;
$Twitter: #1ca0f2;
$Instagram: linear-gradient(to right,#fdc468 to #df4996);
$YouTube: #c4032a;

// Dark theme
$Toggle-Dark: linear-gradient(to right, #378fe6 , #3eda82);
$Very-Dark-Blue-BG: #1e202a;
$Very-Dark-Blue-Top-BG-Pattern: #1f212e;
$Dark-Desaturated-Blue-Card-BG: #252a41;
$Desaturated-Blue-Text: #8b97c6;
$White-Text: #ffffff;

//LIght theme
$Toggle-LIght: #aeb3cb;
$White-BG: #ffffff;
$Very-Pale-Blue-Top-BG-Pattern: #f5f7ff;
$Light-Grayish-Blue-Card-BG: #f0f2fa;
$Dark-Grayish-Blue-Text: #63687e;
$Very-Dark-Blue-Text: #1e202a;

// responsive 
@mixin media-md {
 @media only screen and (min-width: 768px) {
  @content;
 }
}

@mixin media-lg {
 @media only screen and (min-width: 1024px) {
  @content;
 }
}

@mixin media-xl {
 @media only screen and (min-width: 1440px) {
  @content;
 }
}
