.social-media-container {
 display: flex;
 flex-direction: column;
 
 .title-container {
  padding: 2.3rem 1.5rem;
  background: $Very-Pale-Blue-Top-BG-Pattern;
  transition: all .2s ease-in-out;
  padding-bottom: 5rem;
 
  .title {
   h2 {
    margin: 0;
    font-size: 1.7rem;
    transition: all .2s ease-in-out;
   }

   p {
    margin: .3rem 0;
    padding-bottom: 1.5rem;
    font-size: .9rem;
    font-weight: 700;
    border-bottom: 1px solid #8e91ba;
    transition: all .2s ease-in-out;
   }  
  }
 
  .toggle-container {
   label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 0;
    padding-top: .7rem;
    color: #8b97c6;
    font-weight: 700;
    font-size: .86rem;
    cursor: url('./cursor.svg'), auto;
    transition: all .2s ease-in-out;
 
    .toggle {
      isolation: isolate;
      position: relative;
      width: 47px;
      height: 18px;
      padding: 3px 0;
      border-radius: 2rem;
      overflow: hidden;
      background: $Toggle-LIght;
      display: flex;
      align-items: center;
      transition: all .2s ease-in-out;

      &:hover {
        background: linear-gradient(to right, #378fe6 , #3eda82);
      }
  
     .toggle-state {
      display: none;
     }
  
     .indicator {
      width: 18px;
      height: 18px;
      transform: translate3d(3px, 0, 0);
      border-radius: 50%;
      background: $White-BG; 
      transition: all 0.2s cubic-bezier(.97,.06,0,.87)
     }
 
     .toggle-state:checked ~ .indicator {
       transform: translate3d(25px, 0, 0);
     }
    }
   }
   .dark-toggle {
    &:hover {
      color: #fff;
    }
   }
  }
 }

 .tile-container {
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5rem 0;
  transition: all .2s ease-in-out;
  margin-top: -2.8rem;

 
  .tile {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: .5rem 0;
   background: $Light-Grayish-Blue-Card-BG;
   border-radius: .7rem;
   position: relative;
   transition: all .2s ease-in-out;
   cursor: url('./cursor.svg'), auto;

   &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: all .2s ease-in-out;
   }

   &:hover {
    &:before {
      background: rgba(245, 247, 255, 0.05);
    }
   }


   .before {
    width: 100%;
    height: .25rem;
    content: '';
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right, #fdc468, #df4996);
    border-radius: .7rem .7rem 0 0;
   }
 
   .username {
    display: inline-flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 700;
    margin: 1.5rem 0;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;

    img {
     margin-right: .5rem;
    }
   }
 
   h2 {
    margin: 0;
    font-size: 3.5rem;
    transition: all .2s ease-in-out;
   }
   
   .followers {
    margin: 0;
    margin-bottom: 1.5rem;
    letter-spacing: .3rem;
    font-size: .75rem;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
   }
 
   .date {
    margin: 0;
    margin-bottom: 1.2rem;
    display: inline-flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 700;
    transition: all .2s ease-in-out;
    color: #dc414c;
 
    img {
     margin-right: .1rem;
    }
   }

   .facebook {
    color: #fff;
   }
  }

  .tile-dark {
    &:hover {
      &:before {
        background: rgba(37, 42, 65, 0.05);
      }
    }  
  }
 }
}